@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
    background: #689ed4;
    color: #fff;
}
.bg-blue {
    background: linear-gradient(180deg, #5B7BB7 0%, #6196CB 100%);
    height: 850px;
    color: #fff;
}
.nav-link {
    color: #fff;
}
a {
    color: #fff;
}
.bg-blue button {
    background: #1D74C5;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    padding: 15px 30px;
}
a:hover {
    color: #fff;
}
button:hover {
    background: #ccd900;
    color: #000;
}

nav a {
    font-size: 16px;
    font-weight: 400;
}

.bg-blue h1 {
    font-weight: 700;
    font-size: 58px;
}

.bg-blue p {
    font-weight: 400;
}

.abb {
    padding: 220px 0;

}

.date {
    width: 76px;
    height: 76px;
    padding-top: 26px;
    border-radius: 50%;

    background-color: #102441;
    color: #fff;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.intro {
    padding: 220px 0;

    background: url(../img/bg_intro_okompanii.jpg) no-repeat;
    background-size: cover;
}

.intro.uslugi {
    padding: 220px 0;

    background: url(../img/uslugi_intro.png) no-repeat;
    background-size: cover;
}

.bgcrystal {
    background: url(../img/ctystalbg.png) no-repeat;
    background-size: cover;
}

section {
    padding: 120px 0 0 0;
}
section h2 {
    font-weight: 700;
    font-size: 45px;
}
section h3 {
    font-weight: 700;
    font-size: 45px;
}
section h4 {
    font-weight: 700;
    font-size: 24px;
}
section h6 {
    font-weight: 700;
    font-size: 22px;
}
section p {
    font-weight: 400;
    font-size: 16px;
}
section button {
    background: #1D74C5;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
}

.contacts {
    padding: 60px 0;
}


.header-lnk {
    float: left;
    margin-left: 50px;
}
.header-lnk a {
    text-decoration: none;
}
.map {
    background-image: url(../img/map-big.png);
    background-size: cover;
    height: 800px;
}
.map .bg-white {
    padding: 50px;
}
.cl-w {
    color: #102441;
}
.asa {
    opacity: .5;
}

.bg-bl1 {
    background: #528DC9;
    border-radius: 5px;
    padding: 20px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bg-bl2 {
    background: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ftr .col-lg-3 {
    flex: 0 0 auto;
    width: 32%;
}
.ftr h3 {
    margin-bottom: 50px;
}

.ftr {
    padding-bottom: 50px;
}

.btn-secondary {
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 15px !important;
}
.map .imgs img {
    margin-right: 8px;
}

.callus_icon {
    color: #102441;
    transition: all .3s ease;
}

.callus_icon:hover {
    color: #ccd900;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
    margin-bottom: 145px;
}


.logos__item {
    padding: 0 15px;
}


.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    background: #1c1e21;
    padding: 50px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-bottom: 15px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;

}
.dropstart {
    display: none;
}


@media (max-width: 1200px) {
    .nomb {
        display: none;
    }
    .abb {
        padding: 80px 0;
    }
    .map {
        background-image: url(../img/map-big.png);
        height: 943px;
        background-size: cover;
    }

}


.sertefikat {
    background: url(../img/sertefikat_kompanii.png) no-repeat;
    background-size: cover;
}

.animate__animated {
    text-align: center;
}
@media (max-width: 980px) {
    .bg-blue {
            background: linear-gradient(
        180deg, #5B7BB7 0%, #6196CB 100%);
            height: 1640px;
            color: #fff;
        }
        .abb .col-lg-5 {
            margin-top:25px;
        }
        .sp {
            display: none;
        }
        .ftr .col-lg-3 {
            flex: 0 0 auto;
            width: 100%;
        }
        .container, .container-md, .container-sm {
            max-width: 930px;
        }
        .bg-blue a {
            color: #484848;
            font-size: 44px;
        }
        .navbar-expand-sm .navbar-collapse {
            display: none!important;
            flex-basis: auto;
        }
        .btn-secondary {
            background: transparent !important;
            padding: 0 !important;
            margin: 0 !important;
            font-size: 60px !important;
        }
        .bg-blue p {
            font-weight: 400;
        }
        .bg-blue h1 {
            font-weight: 700;
            font-size: 78px;
        }
        .bg-blue button {
            font-size: 38px;
        }
        section h3 {
            font-weight: 700;
            font-size: 95px;
        }
        section p {
            font-weight: 400;
            font-size: 42px;
        }
        section h4 {
            font-weight: 700;
            font-size: 64px;
        }
        section h2 {
            font-weight: 700;
            font-size: 75px;
        }
        section h3 {
            font-weight: 700;
            font-size: 84px;
        }
        section button {
            background: #1D74C5;
            color: #fff;
            font-size: 48px;
            border: 0;
            border-radius: 5px;
            padding: 5px 20px;
        }
        section h6 {
            font-weight: 700;
            font-size: 57px;
        }
        .map {
            background-image: url(../img/map-big.png);
            height: 1403px;
            background-size: cover;
        }
        .imgs {
            margin-bottom: 30px;
        }
        .form-control {
            font-size: 3rem;
        }
        p {
            font-size: 28px;
        }
            .h4, h4 {
            font-size: calc(2.275rem + .3vw);
        }
        footer ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 38px;
            font-weight: 400;
        }
        footer .col-lg-3 {
            font-size: 38px;
        }
        .dropstart {
            display: block;
        }
    }



